.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: #161515;
    border-bottom: 1px solid #aca6a6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .page-header .logo {
    color: yellow;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 4rem;
  }
  
  .page-header .navigation-links {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
  }
  
  .page-header .navigation-links a {
    color: #ccc;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .page-header .navigation-links a:hover {
    text-decoration: underline;
  }
  
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: #161515;
    border-bottom: 1px solid #aca6a6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .page-header .logo {
    color: yellow;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 4rem;
  }
  
  .page-header .navigation-links {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
  }
  
  .page-header .navigation-links a {
    color: #ccc;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .page-header .navigation-links a:hover {
    text-decoration: underline;
  }
  